Source: odrive-linux-agent
Section: comm
Priority: optional
Maintainer: Alex Tu <alex.tu@canonical.com>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.6
Homepage: https://www.odrive.com/usageguide#agentoverview
Vcs-Git: https://github.com/alex-tu-cc/odrive-linux-agent.git

Package: odrive-linux-agent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: the ubuntu package of odrive agent.
 becuase odrive break the client and agent to different location, and it's seems no way to get version of client, so the packaget version format is ${package ver}~${version of odriveragent tarball}-${md5sum of odrive.py}
