#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

version=$(shell dpkg-parsechangelog | awk -F'[~-]' '/^Version/ {print $$2}')
dirname_x86=odriveagent-linux-64bit-$(version)_64bit
filename_x86=$(dirname_x86).tar.gz

%:
	dh $@

# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
override_dh_auto_configure:
ifeq ($(DEB_BUILD_ARCH),amd64)
	mkdir -p $(dirname_x86)
	tar zxvf $(filename_x86) -C $(dirname_x86)
endif


